<!-- Google Fonts -->
<link rel="stylesheet" href="{{ metadata.cdn.font }}">
<!-- Material Design Icons (mdi) -->
<link rel="stylesheet" href="{{ metadata.cdn.mdi }}" integrity="sha256-0JL+BtqmDiiObLBSZrxHKfxsydEXGb/4pXrWql05dto=" crossorigin="anonymous">
<!-- Style -->
{% if mode == "production" %}
<link rel="stylesheet" href="/assets/css/style.min.css">
{% else %}
<link rel="stylesheet" href="/assets/css/style.css">
{% endif %}
