<!-- Manifest -->
<link rel="manifest" href="/site.webmanifest">
<!-- iOS Web Applications -->
<meta name="apple-mobile-web-app-title" content="{{ metadata.short_title }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<!--  180 x 180 apple-touch-icon -->
<link rel="apple-touch-icon" href="/assets/img/logo/apple-touch-icon.png">
<!-- favicon -->
<link rel="shortcut icon" href="/assets/img/logo/favicon32.png">
<!-- theme-color -->
<meta name="theme-color" content="{{ metadata.site.theme }}">
