<!-- Verify search engine -->
<meta name="google-site-verification" content="{{ metadata.verify.google }}">
<meta name="msvalidate.01" content="{{ metadata.verify.bing }}">
<meta name="yandex-verification" content="{{ metadata.verify.yandex }}">
