<!-- Preconnection -->
<link rel="preconnect" href="https://www.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
<link rel="preconnect" href="https://www.google-analytics.com" crossorigin>
{#
<!-- DNS resolution -->
<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
#}
<!-- Preloading -->
<link rel="preload" href="/assets/fonts/mdi/materialdesignicons-webfont.woff2" as="font" type="font/woff2" crossorigin>
