<!-- Twitter card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ metadata.twitter.site }}">
<meta name="twitter:creator" content="{{ metadata.twitter.creator }}">
<meta name="twitter:url" content="{{ metadata.url }}">
<meta name="twitter:title" content="{{ metadata.short_title }}">
<meta name="twitter:description" content="{{ metadata.description }}">
<meta name="twitter:image" content="{{ metadata.url + metadata.ogImage }}">
