<!-- JavaScript -->
{% block scripts %}
{% if mode == "production" %}
<script async defer src="/app.min.js"></script>
{% else %}
<script async defer src="/app.js"></script>
{% endif %}
{% endblock %}
